<p>
  <b>Last purchased</b> <%= time_ago_in_words(item.last_purchase) %> ago
  <b>Frequency of purchase: </b>Every <%= item.frequency %> <%= item.frequency_type %>(s)
  <% if item.locations.any? %>
    <% item.locations.each do |location| %>
      <p><b>Buy at: </b><%= location.name %></p>
  <% end %>
<% end %>
</p>
